<div class="container__big-card">
    <div class= "big_card-photo">
        <img src="https://images.unsplash.com/photo-1546561892-65bf811416b9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGFydGglMjB2YWRlcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60" 
        height="200px"
        alt="">
    </div>
    <div class= "big_card-title">
        <h1><a href="#">IMPERADOR DECLARA DARTH VADER FUNCIONARIO DO MÊS</a></h1>
    </div>
    <div class= "big_card-descricao">
        <P>IMPERADOR TEM BOAS IMPRESSOES SOBRE O NOVO APRENDIZ DO NOVO IMPÉRIO, NA SUA DECLARÇÃO ELE DIZ A FORÇA É PODEROSA NELE; O NOVO APRENDIZ DO IMPERADOR É TÃO PROMISSOR QUE IDEALIZOU ALGO QUE VAMOS CONHECER NO FUTURO COMO OPEÇÃO SINZAS</P>
    </div>
</div>
