<div class="container_small-card">
    <div class="containe_small-card-content">
        <div class= "small_card-photo">
        <img src="https://images.unsplash.com/photo-1579566346927-c68383817a25?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHN0YXIlMjB3YXJzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" 
        
        alt="">
    </div>
    <div class= "small_card-title">
        <h1><a href="#">IMPERADOR APROVA NOVA ARMADURA E CAPACETE PARA A NOVA GERAÇÃO DE STORM_TROOPER</a></h1>
    </div>
    </div>
    <div class="containe_small-card__separeitor">
       <hr> 
    </div>
    
</div>

