/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(49, 48, 48);
    color: rgb(255, 0, 0);
    text-decoration: none;
}